# Poetry and Python stuff
**/*.egg-info/
**/*.pyc
**/*.pyo
**/*.log
**/__pycache__
.venv/
.pytest_cache/

# Tox
.tox/

# Coverage
.coverage
htmlcov/

# Sphinx documentation
docs/build/

# JSNAC output file
jsnac.schema.json